<h1>Example heading <%= bs5_badge(text: 'New') %></h1>
<h2>Example heading <%= bs5_badge(text: 'New') %></h2>
<h3>Example heading <%= bs5_badge(text: 'New') %></h3>
<h4>Example heading <%= bs5_badge(text: 'New') %></h4>
<h5>Example heading <%= bs5_badge(text: 'New') %></h5>
<h5>Example heading <%= bs5_badge(text: 'New') %></h5>