<% if items.any? %>
  <div class="<%= component_class %>" id="<%= id %>">
    <% items.each do |item| %>
      <div class="accordion-item">
        <h2
          id="<%= item.header_id %>"
          class="accordion-header"
        >
          <%= button_tag item.title,
              bs5_collapse(target: "##{item.collapse_id}", expanded: !item.collapsed?)
                .merge(type: :button, class: item.button_class) %>
        </h2>
        <div
          id="<%= item.collapse_id %>"
          class="<%= item.collapse_class %>"
          aria-labelledby="<%= item.header_id %>"
          data-bs-parent="#<%= id %>"
        >
          <div class="accordion-body">
            <%= item.content %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>