<% if split? %>
  <% if dropstart? %>
    <%= bs5_button_group do %>
      <div class="<%= component_class %>">
        <%= split_button_toggle %>
        <%= menu_content %>
      </div>
      <%= split_button %>
    <% end %>
  <% else %>
    <div class="<%= component_class %>">
      <%= split_button %>
      <%= split_button_toggle %>
      <%= menu_content %>
    </div>
  <% end %>
<% else %>
  <div class="<%= component_class %>">
    <%= single_button %>
    <%= menu_content %>
  </div>
<% end %>