<% if items.any? %>
  <div class="<%= component_class %>">
    <%- if split? %>
      <%= bs5_button_tag title, split_button_options %>
      <%= bs5_button_tag split_button_toggle_options do %>
        <span class="visually-hidden">Toggle Dropdown</span>
      <% end %>
    <% else %>
      <%= bs5_button_tag title, single_button_options %>
    <% end %>
    <ul class="<%= dropdown_menu_classes %>">
      <% items.each do |item| %><%= item %><% end %>
    </ul>
  </div>
<% end %>