<% if items.any? %>
  <% if actionables? %>
    <div class="<%= component_class %>">
      <% items.each do |item| %>
        <%= item.decorated_content %>
      <% end %>
    </div>
  <% else %>
    <ul class="<%= component_class %>">
      <% items.each do |item| %>
        <%= tag.li(**item.options) do %>
          <%= item.content %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>