<%= controller %>

<%= tag.div(modal_attributes) do %>
  <div class="<%= dialog_classes %>">
    <div class="modal-content">
      <%= header %>
      <%= body %>
      <%= footer %>
    </div>
  </div>
<% end %>