<%= bs5_carousel(controls: true, indicators: true) do |c| %>
  <% c.item do |i| %>
    <%= image_tag 'https://picsum.photos/800/400?random=1' %>
    <%= i.caption do %>
      <h5>First slide label</h5>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    <% end %>
  <% end %>

  <% c.item do |i| %>
    <%= image_tag 'https://picsum.photos/800/400?random=2' %>
    <%= i.caption do %>
      <h5>Second slide label</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <% end %>
  <% end %>

  <% c.item do |i| %>
    <%= image_tag 'https://picsum.photos/800/400?random=3' %>
    <%= i.caption do %>
      <h5>Third slide label</h5>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    <% end %>
  <% end %>
<% end %>