<h2>Buttons</h2>
<%= render 'bs5/examples/buttons/default/example' %>
<%= render 'bs5/examples/buttons/style/example' %>
<%= render 'bs5/examples/buttons/outline/example' %>
<%= render 'bs5/examples/buttons/size/example' %>
<%= render 'bs5/examples/buttons/block_buttons/example' %>
<%= render 'bs5/examples/buttons/toggle_states/example' %>