<h2 id='buttons'>Buttons</h2>
<h3>Decorating Rails' <code>button_tag</code></h3>
<%= render 'bs5/examples/buttons/button_tag/default/example' %>
<%= render 'bs5/examples/buttons/button_tag/style/example' %>
<%= render 'bs5/examples/buttons/button_tag/outline/example' %>
<%= render 'bs5/examples/buttons/button_tag/size/example' %>
<%= render 'bs5/examples/buttons/button_tag/block_buttons/example' %>
<%= render 'bs5/examples/buttons/button_tag/toggle_states/example' %>

<h3>Decorating Rails' <code>button_to</code></h3>
<%= render 'bs5/examples/buttons/button_to/default/example' %>
