<h2 id='list_group'>List group</h2>
<%= render 'bs5/examples/list_group/default/example' %>
<%= render 'bs5/examples/list_group/active/example' %>
<%= render 'bs5/examples/list_group/disabled/example' %>
<%= render 'bs5/examples/list_group/actionable/example' %>
<%= render 'bs5/examples/list_group/flush/example' %>
