<h2>Available styles</h2>
<h3>Horizontal alignment</h3>
<%= bs5_example(snippet: 'navs_and_tabs/styles/snippet1') %>
<%= bs5_example(snippet: 'navs_and_tabs/styles/snippet2') %>
<h3>Vertical</h3>
<%= bs5_example(snippet: 'navs_and_tabs/styles/snippet3') %>
<h3>Tabs</h3>
<%= bs5_example(snippet: 'navs_and_tabs/styles/snippet4') %>
<h3>Pills</h3>
<%= bs5_example(snippet: 'navs_and_tabs/styles/snippet5') %>
<h3>Fill and justify</h3>
<%= bs5_example(snippet: 'navs_and_tabs/styles/snippet6') %>
<%= bs5_example(snippet: 'navs_and_tabs/styles/snippet7') %>
<%= bs5_example(snippet: 'navs_and_tabs/styles/snippet8') %>
<%= bs5_example(snippet: 'navs_and_tabs/styles/snippet9') %>