<h1 id='buttons'>Buttons</h1>
<h2>Decorating Rails' <code>button_tag</code></h2>
<%= render 'bs5/examples/buttons/button_tag/default/example' %>
<%= render 'bs5/examples/buttons/button_tag/style/example' %>
<%= render 'bs5/examples/buttons/button_tag/outline/example' %>
<%= render 'bs5/examples/buttons/button_tag/size/example' %>
<%= render 'bs5/examples/buttons/button_tag/block_buttons/example' %>
<%= render 'bs5/examples/buttons/button_tag/toggle_states/example' %>

<h2>Decorating Rails' <code>button_to</code></h2>
<%= render 'bs5/examples/buttons/button_to/default/example' %>
