<h1>Dropdowns</h1>
<h2>Examples</h2>
<%= render 'bs5/examples/dropdowns/single/example' %>
<%= render 'bs5/examples/dropdowns/split/example' %>
<%= render 'bs5/examples/dropdowns/sizing/example' %>
<%= render 'bs5/examples/dropdowns/dark/example' %>
<%= render 'bs5/examples/dropdowns/directions/example' %>
<%= render 'bs5/examples/dropdowns/menu_items/example' %>