<h1 id='list_group'>List group</h1>
<%= render 'bs5/examples/list_group/default/example' %>
<%= render 'bs5/examples/list_group/active/example' %>
<%= render 'bs5/examples/list_group/disabled/example' %>
<%= render 'bs5/examples/list_group/actionable/example' %>
<%= render 'bs5/examples/list_group/flush/example' %>
<%= render 'bs5/examples/list_group/horizontal/example' %>
<%= render 'bs5/examples/list_group/style/example' %>
<%= render 'bs5/examples/list_group/with_badges/example' %>
<%= render 'bs5/examples/list_group/custom_content/example' %>
<%= render 'bs5/examples/list_group/checkboxes_and_radios/example' %>
