<h1>Progress</h1>
<%= render 'bs5/examples/progress/examples' %>
<%= render 'bs5/examples/progress/labels' %>
<%= render 'bs5/examples/progress/backgrounds' %>
<%= render 'bs5/examples/progress/multiple_bars' %>
<%= render 'bs5/examples/progress/striped' %>
<%= render 'bs5/examples/progress/animated' %>