<h1>Spinners</h1>
<%= render 'bs5/examples/spinners/border/example' %>
<%= render 'bs5/examples/spinners/colors/example' %>
<%= render 'bs5/examples/spinners/growing/example' %>
<%= render 'bs5/examples/spinners/options/example' %>
<%= render 'bs5/examples/spinners/size/example' %>
<%= render 'bs5/examples/spinners/buttons/example' %>
