<h1>Toasts</h1>
<%= render 'bs5/examples/toasts/default/example' %>
<%= render 'bs5/examples/toasts/stacking/example' %>
<%= render 'bs5/examples/toasts/custom_content/example' %>
<%= render 'bs5/examples/toasts/color_schemes/example' %>
<%= render 'bs5/examples/toasts/placement/example' %>
<%= render 'bs5/examples/toasts/js_options/example' %>
