<h2>Alignment</h2>
<h3>Margin</h3>
<%= bs5_example(snippet: 'spinners/options/margin') %>
<h3>Placement</h3>
<h4>Flex</h4>
<%= bs5_example(snippet: 'spinners/options/placement_flex1') %>
<%= bs5_example(snippet: 'spinners/options/placement_flex2') %>
<h4>Floats</h4>
<%= bs5_example(snippet: 'spinners/options/floats') %>
<%= bs5_example(snippet: 'spinners/options/text_align') %>