<%= bs5_dropdown('Dropdown') do |d| %>
  <%= d.item do %><h6 class="dropdown-header">Dropdown header</h6><% end %>
  <%= d.item do %><%= link_to 'Action', '#' %><% end %>
  <%= d.item do %><%= link_to 'Another action', '#' %><% end %>
<% end %>